{
    "openapi": "3.0.0",
    "info": {
        "title": "Renewable Energy Integration Service API",
        "version": "1.0.0",
        "description": "The Renewable Energy Integration Service provides utilities with data and automation capabilities to seamlessly integrate renewable energy sources like wind and solar into existing energy grids. This API allows users to manage energy grids, fetch real-time and predictive data, configure alerts, and more."
    },
    "servers": [
        {
            "url": "https://api.renewable-energy-integration.com/v1",
            "description": "Production server"
        }
    ],
    "components": {
        "securitySchemes": {
            "ApiTokenAuth": {
                "type": "apiKey",
                "name": "Authorization",
                "in": "header",
                "description": "API Token for authenticating requests. Use 'Bearer {token}' format."
            }
        }
    },
    "security": [
        {
            "ApiTokenAuth": []
        }
    ],
    "paths": {
        "/integration/grid": {
            "post": {
                "summary": "Enable and configure renewable energy integration",
                "description": "Enable and configure the integration of a renewable energy source (e.g., wind or solar) into the existing energy grid.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "sourceType": {
                                        "type": "string",
                                        "enum": [
                                            "wind",
                                            "solar",
                                            "other"
                                        ],
                                        "description": "Type of renewable energy source being integrated."
                                    },
                                    "capacity": {
                                        "type": "number",
                                        "description": "Total capacity of the renewable energy source in MW."
                                    },
                                    "gridId": {
                                        "type": "string",
                                        "description": "Unique identifier for the grid where the energy source will be integrated."
                                    }
                                },
                                "required": [
                                    "sourceType",
                                    "capacity",
                                    "gridId"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Integration successfully configured.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input data."
                    }
                }
            }
        },
        "/production/real-time": {
            "get": {
                "summary": "Retrieve real-time production metrics",
                "description": "Retrieve real-time production metrics of renewable energy sources such as wind and solar.",
                "parameters": [
                    {
                        "name": "sourceType",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "wind",
                                "solar",
                                "all"
                            ]
                        },
                        "description": "Specify the type of renewable energy source to retrieve metrics for. Defaults to 'all'."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved real-time metrics.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "sourceType": {
                                            "type": "string"
                                        },
                                        "production": {
                                            "type": "number",
                                            "description": "Energy production in MW."
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Data not found for the specified source type or time range."
                    }
                }
            }
        },
        "/grid/status": {
            "get": {
                "summary": "Fetch energy grid status",
                "description": "Fetch the current status and performance metrics of the energy grid interface.",
                "responses": {
                    "200": {
                        "description": "Successfully retrieved grid status and performance metrics.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "enum": [
                                                "active",
                                                "down",
                                                "maintenance"
                                            ]
                                        },
                                        "performanceMetrics": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error fetching grid status."
                    }
                }
            }
        },
        "/alerts/settings": {
            "post": {
                "summary": "Set up grid or production alerts",
                "description": "Configure alert notifications based on grid or production events.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "alertType": {
                                        "type": "string",
                                        "enum": [
                                            "grid-status",
                                            "production-drop",
                                            "capacity-limit"
                                        ],
                                        "description": "Type of event to configure alerts for."
                                    },
                                    "threshold": {
                                        "type": "number",
                                        "description": "Threshold at which the alert will be triggered."
                                    },
                                    "recipients": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "email"
                                        },
                                        "description": "List of email addresses to receive the alert notifications."
                                    }
                                },
                                "required": [
                                    "alertType",
                                    "threshold",
                                    "recipients"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Alerts successfully created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "alertId": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "string",
                                            "enum": [
                                                "active",
                                                "pending"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input data."
                    }
                }
            }
        },
        "/forecast/demand": {
            "get": {
                "summary": "Predict energy demand",
                "description": "Generate and retrieve predictions for energy demand based on historical data and predictive modeling.",
                "responses": {
                    "200": {
                        "description": "Successfully retrieved predictive data for energy demand.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "timeRange": {
                                            "type": "string"
                                        },
                                        "prediction": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "timestamp": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "value": {
                                                        "type": "number"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/supply/overview": {
            "get": {
                "summary": "View renewable energy supply overview",
                "description": "Retrieve a summary of energy supply from renewable sources.",
                "responses": {
                    "200": {
                        "description": "Successfully retrieved energy supply overview.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "renewableSources": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "totalSupply": {
                                            "type": "number",
                                            "description": "Total supply in MW."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}