{
    "openapi": "3.0.3",
    "info": {
        "title": "Travel and Accommodation Recommendation Service",
        "description": "This API provides customized travel and accommodation suggestions based on user preferences. Utilizing user profiles and machine learning algorithms, it delivers personalized hotel, restaurant, and leisure activity recommendations along with itinerary planning functionality.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.travelrecommendation.com/v1",
            "description": "Production server"
        }
    ],
    "paths": {
        "/user/preferences": {
            "post": {
                "summary": "Submit and update user travel preferences",
                "description": "Allows the user to submit or update their travel preferences and profile. This includes budget, preferred destinations, travel dates, and any specific requirements for personalized recommendations.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "userId": {
                                        "type": "string",
                                        "description": "Unique identifier of the user"
                                    },
                                    "budget": {
                                        "type": "number",
                                        "description": "Maximum budget the user is willing to spend"
                                    },
                                    "destinations": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "List of desired travel destinations"
                                    },
                                    "travelDates": {
                                        "type": "object",
                                        "properties": {
                                            "startDate": {
                                                "type": "string",
                                                "format": "date",
                                                "description": "Start date of travel"
                                            },
                                            "endDate": {
                                                "type": "string",
                                                "format": "date",
                                                "description": "End date of travel"
                                            }
                                        },
                                        "description": "Travel dates for the trip"
                                    },
                                    "preferences": {
                                        "type": "object",
                                        "properties": {
                                            "hotelAmenities": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "List of preferred amenities when choosing a hotel"
                                            },
                                            "cuisinePreferences": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "Preferred types of cuisine"
                                            },
                                            "leisureActivities": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "Types of leisure activities of interest to the user"
                                            }
                                        },
                                        "description": "Additional preferences for personalized recommendations"
                                    }
                                },
                                "required": [
                                    "userId",
                                    "budget",
                                    "destinations"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User preferences successfully submitted or updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Preferences updated successfully"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request due to missing or invalid input"
                    }
                }
            }
        },
        "/recommendations/hotels": {
            "get": {
                "summary": "Retrieve hotel recommendations",
                "description": "Provides a list of recommended hotels based on the user's preferences and selected destination.",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Unique identifier of the user"
                    },
                    {
                        "name": "destination",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The user's chosen destination for the trip"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of recommended hotels",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "hotelName": {
                                                "type": "string",
                                                "description": "Name of the hotel"
                                            },
                                            "location": {
                                                "type": "string",
                                                "description": "Address of the hotel"
                                            },
                                            "rating": {
                                                "type": "number",
                                                "format": "float",
                                                "description": "Rating of the hotel"
                                            },
                                            "pricePerNight": {
                                                "type": "number",
                                                "description": "Cost per night for the hotel"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request due to missing or invalid input parameters"
                    }
                }
            }
        },
        "/recommendations/restaurants": {
            "get": {
                "summary": "Retrieve restaurant recommendations",
                "description": "Provides a list of recommended restaurants based on the user's travel preferences and upcoming itinerary.",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Unique identifier of the user"
                    },
                    {
                        "name": "destination",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Destination for which restaurant recommendations are requested"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of recommended restaurants",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "restaurantName": {
                                                "type": "string",
                                                "description": "Name of the restaurant"
                                            },
                                            "cuisineType": {
                                                "type": "string",
                                                "description": "Type of cuisine served"
                                            },
                                            "location": {
                                                "type": "string",
                                                "description": "Address of the restaurant"
                                            },
                                            "rating": {
                                                "type": "number",
                                                "format": "float",
                                                "description": "Overall rating for the restaurant"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request due to missing or invalid input parameters"
                    }
                }
            }
        },
        "/recommendations/leisure": {
            "get": {
                "summary": "Retrieve leisure activity recommendations",
                "description": "Provides a list of personalized leisure activity suggestions based on the user's preferences and selected destination.",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Unique identifier of the user"
                    },
                    {
                        "name": "destination",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Destination for which leisure activity suggestions are requested"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of recommended leisure activities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "activityName": {
                                                "type": "string",
                                                "description": "Name of the activity"
                                            },
                                            "description": {
                                                "type": "string",
                                                "description": "Description of the activity"
                                            },
                                            "location": {
                                                "type": "string",
                                                "description": "Location of the activity"
                                            },
                                            "priceRange": {
                                                "type": "string",
                                                "description": "Expected price range for the activity"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request due to missing or invalid parameters"
                    }
                }
            }
        },
        "/itinerary/plan": {
            "post": {
                "summary": "Submit travel destinations and receive an itinerary",
                "description": "Allows the user to submit a list of desired destinations and receive a comprehensive travel itinerary organized based on their preferences.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "userId": {
                                        "type": "string",
                                        "description": "Unique identifier of the user"
                                    },
                                    "destinations": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "List of desired destinations"
                                    },
                                    "preferences": {
                                        "type": "object",
                                        "description": "Custom preferences to tailor the itinerary"
                                    }
                                },
                                "required": [
                                    "userId",
                                    "destinations"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Itinerary successfully generated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "itineraryId": {
                                            "type": "string",
                                            "description": "Unique identifier for the generated itinerary"
                                        },
                                        "details": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/history": {
            "get": {
                "summary": "Access user travel history",
                "description": "Provides the past travel history and prior recommendations for reference or repeat visits.",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "User's unique id"
                        }
                    }
                ]
            }
        }
    }
}