{
    "openapi": "3.0.2",
    "info": {
        "title": "Transaction Monitoring and Anomaly Detection Service",
        "description": "This service provides robust transaction monitoring and anomaly detection to enhance the security of banking operations against fraudulent activities. It offers endpoints to analyze transactions, generate alerts, define detection rules, retrieve monitoring statistics, and manage suspicious transaction flags.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.financials.com/v1",
            "description": "Production server"
        }
    ],
    "paths": {
        "/transactions/analyze": {
            "post": {
                "summary": "Analyze Batch of Transactions",
                "description": "Submit a batch of transactions for risk evaluation and anomaly detection.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "transaction_id": {
                                            "type": "string",
                                            "description": "Unique identifier for the transaction."
                                        },
                                        "amount": {
                                            "type": "number",
                                            "description": "Amount of money involved in the transaction."
                                        },
                                        "currency": {
                                            "type": "string",
                                            "description": "Currency of the transaction, in ISO 4217 format."
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Timestamp when the transaction occurred."
                                        },
                                        "account_id": {
                                            "type": "string",
                                            "description": "Unique identifier for the associated account."
                                        }
                                    },
                                    "required": [
                                        "transaction_id",
                                        "amount",
                                        "currency",
                                        "timestamp",
                                        "account_id"
                                    ]
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Batch successfully analyzed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "analyzed_count": {
                                            "type": "integer",
                                            "description": "Number of transactions analyzed."
                                        },
                                        "anomalies": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "transaction_id": {
                                                        "type": "string",
                                                        "description": "Transaction ID flagged as suspicious."
                                                    },
                                                    "risk_score": {
                                                        "type": "number",
                                                        "description": "Risk score assigned to the transaction."
                                                    },
                                                    "reason": {
                                                        "type": "string",
                                                        "description": "Reason for flagging the transaction as anomalous."
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/alerts/recent": {
            "get": {
                "summary": "Retrieve Recent Alerts",
                "description": "Retrieve the most recent alerts generated by the monitoring system.",
                "responses": {
                    "200": {
                        "description": "List of recent alerts retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "alert_id": {
                                                "type": "string",
                                                "description": "Unique identifier for the alert."
                                            },
                                            "transaction_id": {
                                                "type": "string",
                                                "description": "ID of the related transaction."
                                            },
                                            "alert_message": {
                                                "type": "string",
                                                "description": "Description of the alert."
                                            },
                                            "generated_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "description": "Timestamp when the alert was generated."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/transaction/{id}/flag": {
            "put": {
                "summary": "Flag a Transaction as Suspicious",
                "description": "Flag a specific transaction as suspicious using its unique identifier.",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "Unique identifier of the transaction to be flagged."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transaction flagged successfully."
                    }
                }
            },
            "delete": {
                "summary": "Remove Suspicious Flag",
                "description": "Remove the suspicious flag from a specific transaction using its unique identifier.",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "Unique identifier of the flagged transaction."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Suspicious flag removed successfully."
                    }
                }
            }
        },
        "/rules/new": {
            "post": {
                "summary": "Add a New Detection Rule",
                "description": "Create and add a new detection rule to the monitoring system.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "rule_name": {
                                        "type": "string",
                                        "description": "Name of the detection rule."
                                    },
                                    "conditions": {
                                        "type": "string",
                                        "description": "Logical conditions defining the rule."
                                    }
                                },
                                "required": [
                                    "rule_name",
                                    "conditions"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "New detection rule created successfully."
                    }
                }
            }
        },
        "/rules/{id}": {
            "delete": {
                "summary": "Delete a Detection Rule",
                "description": "Delete a specific detection rule by its identifier.",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "Unique identifier of the detection rule to be deleted."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detection rule deleted successfully."
                    }
                }
            }
        },
        "/statistics": {
            "get": {
                "summary": "Retrieve Monitoring Statistics",
                "description": "Retrieve statistics on transaction monitoring, such as the number of detected anomalies.",
                "responses": {
                    "200": {
                        "description": "Statistics retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "total_transactions": {
                                            "type": "integer",
                                            "description": "Total number of transactions monitored."
                                        },
                                        "total_anomalies": {
                                            "type": "integer",
                                            "description": "Total number of anomalies detected."
                                        },
                                        "operation_uptime": {
                                            "type": "string",
                                            "description": "Duration of uninterrupted monitoring system operation."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/feedback": {
            "post": {
                "summary": "Submit Feedback on Alerts",
                "description": "Submit user feedback regarding specific alerts to improve the accuracy of the detection system.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "alert_id": {
                                        "type": "string",
                                        "description": "Unique identifier of the alert."
                                    },
                                    "feedback": {
                                        "type": "string",
                                        "description": "Feedback content regarding the alert."
                                    }
                                },
                                "required": [
                                    "alert_id",
                                    "feedback"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Feedback submitted successfully."
                    }
                }
            }
        },
        "/historical/{period}": {
            "get": {
                "summary": "Access Historical Monitoring Data",
                "description": "Retrieve historical monitoring data for a specified time period.",
                "parameters": [
                    {
                        "in": "path",
                        "name": "period",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "Time period for the historical data (e.g., '7d', '30d')."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Historical monitoring data retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "date": {
                                                "type": "string",
                                                "format": "date",
                                                "description": "Date of data point."
                                            },
                                            "anomaly_count": {
                                                "type": "integer",
                                                "description": "Number of anomalies detected on this date."
                                            },
                                            "transaction_count": {
                                                "type": "integer",
                                                "description": "Number of transactions processed on this date."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/profile/settings": {
            "patch": {
                "summary": "Update Monitoring Preferences",
                "description": "Update user or organizational settings for monitoring preferences.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "preference_name": {
                                        "type": "string",
                                        "description": "Name of the preference to update."
                                    },
                                    "preference_value": {
                                        "type": "string",
                                        "description": "New value for the preference."
                                    }
                                },
                                "required": [
                                    "preference_name",
                                    "preference_value"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Preferences updated successfully."
                    }
                }
            }
        }
    }
}