{
    "openapi": "3.0.0",
    "info": {
        "title": "Video Streaming Quality Enhancement API",
        "description": "An API providing tools to analyze and enhance live and on-demand video streaming quality. Utilizes bandwidth optimization, adaptive streaming protocols, and seamless integration with third-party video platforms.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.videostreamingquality.com",
            "description": "Production server"
        }
    ],
    "paths": {
        "/videos": {
            "get": {
                "summary": "Retrieve a list of videos",
                "description": "Retrieve a list of videos available for streaming, along with metadata such as titles and durations.",
                "responses": {
                    "200": {
                        "description": "List of available videos retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "description": "Unique identifier for the video."
                                            },
                                            "title": {
                                                "type": "string",
                                                "description": "Title of the video."
                                            },
                                            "duration": {
                                                "type": "integer",
                                                "description": "Duration of the video in seconds."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/videos/analyze": {
            "post": {
                "summary": "Analyze video quality",
                "description": "Analyze a specific video for potential quality enhancements based on provided criteria.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "videoId": {
                                        "type": "string",
                                        "description": "Unique identifier for the video to analyze."
                                    },
                                    "criteria": {
                                        "type": "object",
                                        "description": "Criteria for analysis, such as resolution or bit rate.",
                                        "properties": {
                                            "resolution": {
                                                "type": "string",
                                                "description": "Desired resolution for analysis (e.g., 1080p, 720p)."
                                            },
                                            "bitrate": {
                                                "type": "integer",
                                                "description": "Target bitrate for optimized video streaming."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Analysis results returned successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "improvementSuggestions": {
                                            "type": "array",
                                            "items": {
                                                "type": "string",
                                                "description": "Suggestions for quality improvements."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/streams/status": {
            "get": {
                "summary": "Retrieve live stream status",
                "description": "Retrieve the current status and analytics of ongoing live video streams.",
                "responses": {
                    "200": {
                        "description": "Live stream analytics retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "streamId": {
                                                "type": "string",
                                                "description": "Unique identifier for the stream."
                                            },
                                            "status": {
                                                "type": "string",
                                                "description": "Current status of the stream (e.g., active, idle)."
                                            },
                                            "viewers": {
                                                "type": "integer",
                                                "description": "Number of current viewers."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/streams/optimize": {
            "post": {
                "summary": "Optimize live stream",
                "description": "Optimize the bandwidth and quality of an ongoing live video stream.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "streamId": {
                                        "type": "string",
                                        "description": "Identifier of the stream to be optimized."
                                    },
                                    "targetBandwidth": {
                                        "type": "integer",
                                        "description": "Target bandwidth in kbps."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Stream optimized successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "optimizationStatus": {
                                            "type": "string",
                                            "description": "Status of the optimization process."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/protocols/adaptive": {
            "get": {
                "summary": "List supported adaptive streaming protocols",
                "description": "Retrieve a list of adaptive streaming protocols supported by the service.",
                "responses": {
                    "200": {
                        "description": "List of adaptive streaming protocols retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "description": "Name of an adaptive streaming protocol (e.g., HLS, DASH)."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/settings/video": {
            "post": {
                "summary": "Update video quality settings",
                "description": "Update video quality settings to improve compatibility and performance.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "resolution": {
                                        "type": "string",
                                        "description": "Target resolution for all streams (e.g., 1080p, 720p)."
                                    },
                                    "bitrate": {
                                        "type": "integer",
                                        "description": "Target bitrate in kbps for video quality."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Video quality settings updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "description": "Confirmation message for the update."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/platforms/integrations": {
            "put": {
                "summary": "Configure third-party integrations",
                "description": "Configure the service for integration with a third-party video platform.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "platformName": {
                                        "type": "string",
                                        "description": "Name of the third-party video platform."
                                    },
                                    "apiKey": {
                                        "type": "string",
                                        "description": "API key or credential for the platform integration."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Integration configured successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "integrationStatus": {
                                            "type": "string",
                                            "description": "Status of the integration process."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/analytics/reports": {
            "get": {
                "summary": "Generate video stream analytics report",
                "description": "Retrieve detailed reports on the performance of video streams, including metrics like bandwidth usage and viewer engagement.",
                "responses": {
                    "200": {
                        "description": "Performance report retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "reportId": {
                                            "type": "string",
                                            "description": "Unique identifier for the report."
                                        },
                                        "metrics": {
                                            "type": "object",
                                            "properties": {
                                                "bandwidthUsage": {
                                                    "type": "integer",
                                                    "description": "Total bandwidth used, in MB."
                                                },
                                                "viewerCount": {
                                                    "type": "integer",
                                                    "description": "Total number of viewers."
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/streams/{id}": {
            "delete": {
                "summary": "Terminate a live video stream",
                "description": "Terminate a specified live video stream by its identifier.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Unique identifier for the video stream to terminate.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Stream terminated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "terminationStatus": {
                                            "type": "string",
                                            "description": "Confirmation message for successful termination."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/videos/enhance": {
            "post": {
                "summary": "Enhance video quality",
                "description": "Enhance the visual and transmission quality of a submitted video for better viewer experience.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "videoId": {
                                        "type": "string",
                                        "description": "Identifier of the video to enhance."
                                    },
                                    "enhancementOptions": {
                                        "type": "object",
                                        "description": "Options for quality enhancement.",
                                        "properties": {
                                            "upscale": {
                                                "type": "boolean",
                                                "description": "Indicates if video upscaling should be applied."
                                            },
                                            "noiseReduction": {
                                                "type": "boolean",
                                                "description": "Indicates if noise reduction should be applied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Video enhanced successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "enhancementStatus": {
                                            "type": "string",
                                            "description": "Status of the video enhancement operation."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}