{
    "openapi": "3.0.3",
    "info": {
        "title": "Consumer Discretionary Automotive API",
        "description": "This API provides automobile owners with functionalities for reminders, appointment scheduling, and maintenance records while integrating with relevant segments of the Consumer Discretionary Sector. Additional features include connecting with leisure products, household durable goods, and distributors/retailers of consumer discretionary products.",
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://api.consumerdiscretionary.com",
            "description": "Production server"
        }
    ],
    "paths": {
        "/vehicles": {
            "get": {
                "summary": "Retrieve registered vehicles",
                "description": "Fetches a list of all vehicles associated with the authenticated user.",
                "responses": {
                    "200": {
                        "description": "A list of registered vehicles for the user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "description": "Unique identifier for the vehicle."
                                            },
                                            "make": {
                                                "type": "string",
                                                "description": "The make of the vehicle."
                                            },
                                            "model": {
                                                "type": "string",
                                                "description": "The model of the vehicle."
                                            },
                                            "year": {
                                                "type": "integer",
                                                "description": "The manufacturing year of the vehicle."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/leisureproducts": {
            "get": {
                "summary": "Retrieve leisure products",
                "description": "Fetches a list of leisure products that are relevant to automobile owners, such as travel gear, entertainment systems, and related products.",
                "responses": {
                    "200": {
                        "description": "A list of leisure products available.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "productId": {
                                                "type": "string",
                                                "description": "Unique identifier for the product."
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "Name of the leisure product."
                                            },
                                            "category": {
                                                "type": "string",
                                                "description": "Category of the leisure product."
                                            },
                                            "price": {
                                                "type": "number",
                                                "format": "float",
                                                "description": "Price of the leisure product."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/householddurables": {
            "get": {
                "summary": "Retrieve household durables",
                "description": "Fetches a list of household durable goods that are commonly purchased by consumers in the automotive domain, including garage equipment or vehicle-related appliances.",
                "responses": {
                    "200": {
                        "description": "A list of household durables available.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "productId": {
                                                "type": "string",
                                                "description": "Unique identifier for the product."
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "Name of the household durable."
                                            },
                                            "brand": {
                                                "type": "string",
                                                "description": "Brand of the household durable."
                                            },
                                            "price": {
                                                "type": "number",
                                                "format": "float",
                                                "description": "Price of the household durable."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/distributors": {
            "get": {
                "summary": "Retrieve distributors and retailers",
                "description": "Fetches a list of distributors and retailers of consumer discretionary products, including those that service the automotive and leisure spaces.",
                "responses": {
                    "200": {
                        "description": "A list of distributors and retailers.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "retailerId": {
                                                "type": "string",
                                                "description": "Unique identifier for the distributor or retailer."
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "Name of the distributor or retailer."
                                            },
                                            "location": {
                                                "type": "string",
                                                "description": "Location of the distributor or retailer."
                                            },
                                            "contact": {
                                                "type": "string",
                                                "description": "Contact information for the distributor or retailer."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hotelsandrestaurants": {
            "get": {
                "summary": "Retrieve hotels and restaurants",
                "description": "Provides a list of hotels and restaurants that are relevant for road trips or travel associated with automobile use.",
                "responses": {
                    "200": {
                        "description": "A list of hotels and restaurants available.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "businessId": {
                                                "type": "string",
                                                "description": "Unique identifier for the business."
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "Name of the hotel or restaurant."
                                            },
                                            "category": {
                                                "type": "string",
                                                "description": "Category of the business (e.g., hotel, restaurant)."
                                            },
                                            "location": {
                                                "type": "string",
                                                "description": "Location of the business."
                                            },
                                            "rating": {
                                                "type": "number",
                                                "format": "float",
                                                "description": "Customer rating of the business."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/vehicle/{id}/maintenancerecords": {
            "get": {
                "summary": "Retrieve maintenance records",
                "description": "Fetches all maintenance records for a specific vehicle.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Unique identifier for the vehicle.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of maintenance records for the specified vehicle.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "recordId": {
                                                "type": "string",
                                                "description": "Unique identifier for the maintenance record."
                                            },
                                            "serviceDate": {
                                                "type": "string",
                                                "format": "date",
                                                "description": "The date the maintenance service was performed."
                                            },
                                            "description": {
                                                "type": "string",
                                                "description": "Description of the maintenance service."
                                            },
                                            "cost": {
                                                "type": "number",
                                                "format": "float",
                                                "description": "Cost of the maintenance service."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}