{
    "openapi": "3.0.1",
    "info": {
        "title": "Healthcare Medical Records Management Service API",
        "description": "This API provides secure storage, accessibility, and management of patient medical records. It enables healthcare providers to retrieve, update, and share patient history, ensuring continuous and informed care. The API is HIPAA-compliant, ensuring data protection and regulatory compliance.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.healthcare-system.com",
            "description": "Production server"
        }
    ],
    "paths": {
        "/patients": {
            "get": {
                "summary": "Retrieve all patients",
                "description": "Fetch a list of all patient records stored in the system. This endpoint provides basic details of each patient.",
                "responses": {
                    "200": {
                        "description": "Successful retrieval of patient list",
                        "content": {
                            "application/json": {
                                "example": [
                                    {
                                        "patient_id": "12345",
                                        "name": "John Doe",
                                        "age": 45,
                                        "gender": "Male"
                                    },
                                    {
                                        "patient_id": "67890",
                                        "name": "Jane Smith",
                                        "age": 38,
                                        "gender": "Female"
                                    }
                                ]
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a new patient record",
                "description": "Add a new patient's medical record with initial details such as name, age, gender, and medical history.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "example": {
                                "name": "John Doe",
                                "age": 45,
                                "gender": "Male",
                                "medical_history": "Diabetes"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Patient record created successfully",
                        "content": {
                            "application/json": {
                                "example": {
                                    "patient_id": "54321",
                                    "message": "Patient record created successfully"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/patients/{patient_id}": {
            "get": {
                "summary": "Retrieve a specific patient's medical record",
                "description": "Fetch comprehensive details of a patient's medical record using their unique identifier.",
                "parameters": [
                    {
                        "name": "patient_id",
                        "in": "path",
                        "required": true,
                        "description": "The unique identifier of the patient",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved patient record",
                        "content": {
                            "application/json": {
                                "example": {
                                    "patient_id": "12345",
                                    "name": "John Doe",
                                    "age": 45,
                                    "gender": "Male",
                                    "medical_history": "Diabetes",
                                    "allergies": [
                                        "Pollen"
                                    ],
                                    "current_medications": [
                                        "Metformin"
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update a patient's full record",
                "description": "Update all details and medical records of a specific patient using their unique identifier.",
                "parameters": [
                    {
                        "name": "patient_id",
                        "in": "path",
                        "required": true,
                        "description": "The unique identifier of the patient",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "example": {
                                "name": "John Doe",
                                "age": 46,
                                "gender": "Male",
                                "medical_history": "Updated medical history information",
                                "current_medications": [
                                    "Updated medications"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Patient record updated successfully",
                        "content": {
                            "application/json": {
                                "example": {
                                    "message": "Patient record updated successfully"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "summary": "Modify specific details of a patient's record",
                "description": "Update select fields within a patient's record. All other fields remain unchanged.",
                "parameters": [
                    {
                        "name": "patient_id",
                        "in": "path",
                        "required": true,
                        "description": "The unique identifier of the patient",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "example": {
                                "current_medications": [
                                    "Additional medication"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Specific details of the patient record updated successfully",
                        "content": {
                            "application/json": {
                                "example": {
                                    "message": "Patient record updated successfully"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a patient's record",
                "description": "Securely delete the record of a specific patient using their unique identifier.",
                "parameters": [
                    {
                        "name": "patient_id",
                        "in": "path",
                        "required": true,
                        "description": "The unique identifier of the patient",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Patient record deleted successfully"
                    }
                }
            }
        },
        "/providers": {
            "get": {
                "summary": "Fetch healthcare providers",
                "description": "Retrieve a list of healthcare providers using this system's services.",
                "responses": {
                    "200": {
                        "description": "Successfully retrieved list of providers",
                        "content": {
                            "application/json": {
                                "example": [
                                    {
                                        "provider_id": "1001",
                                        "name": "Dr. Smith",
                                        "specialization": "Cardiology"
                                    },
                                    {
                                        "provider_id": "1002",
                                        "name": "Dr. Jane Doe",
                                        "specialization": "Neurology"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/audit": {
            "get": {
                "summary": "Retrieve audit trail",
                "description": "Fetch the audit trail for all activities performed within the system, ensuring traceability and compliance.",
                "responses": {
                    "200": {
                        "description": "Audit trail fetched successfully",
                        "content": {
                            "application/json": {
                                "example": [
                                    {
                                        "timestamp": "2023-01-01T12:00:00Z",
                                        "action": "Patient record retrieved",
                                        "initiator": "Provider1001"
                                    },
                                    {
                                        "timestamp": "2023-01-01T12:30:00Z",
                                        "action": "Patient record updated",
                                        "initiator": "Provider1002"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/sharing/{patient_id}": {
            "post": {
                "summary": "Initiate secure sharing of a patient record",
                "description": "Begin secure sharing of a specific patient's record with authorized entities.",
                "parameters": [
                    {
                        "name": "patient_id",
                        "in": "path",
                        "required": true,
                        "description": "The unique identifier of the patient",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "example": {
                                "authorized_entity": "Hospital B",
                                "expiry_date": "2023-12-31"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Record sharing initiated successfully",
                        "content": {
                            "application/json": {
                                "example": {
                                    "message": "Shared record with authorized entity"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/compliance": {
            "get": {
                "summary": "Verify compliance status",
                "description": "Fetch the service's compliance status with healthcare regulations (e.g., HIPAA).",
                "responses": {
                    "200": {
                        "description": "Compliance status verified successfully",
                        "content": {
                            "application/json": {
                                "example": {
                                    "hipaa_compliance": true,
                                    "gdpr_compliance": false
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}